<%= link_to "Log out", destroy_user_session_path, method: :delete %>

<p id="notice"><%= notice %></p>

<h1>User files</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Upload date</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td><%= file.name%></td>
        <td><%= "#{file.csv_file.blob.byte_size} bytes" %></td>
        <td><%= "Uploaded #{time_ago_in_words(file.created_at)} ago" %></td>
        <td><%= link_to 'Add to records', new_contact_path(file_id: file.id) %></td>
        <td><%= link_to 'Destroy', file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
