<h1>User files</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Headers</th>
      <th>Upload date</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td><%= link_to file.name, url_for(file.csv_file), target: :_blank %></td>
        <td><%= file.headers %></td>
        <td><%= "#{time_ago_in_words(file.created_at)} ago" %></td>
        <td><%= file.status %></td>
        <td><%= link_to 'Import', contact_file_import_path(file) %></td>
        <td><%= link_to 'Destroy', file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
