<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Date of birth</th>
      <th>Credit card</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @failed_contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.birth_date %></td>
        <td><%= contact.card_number %></td>
        <td><%= "#{time_ago_in_words(contact.created_at)} ago" %></td>
        <td><%= link_to "Show error detail", contact %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>