<h1>Contacts</h1>

<%= will_paginate(@failed_contacts, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer, class: 'justify-content-center') %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Credit card</th>
      <th scope="col">Upload date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @failed_contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.birth_date %></td>
        <td><%= contact.card_number %></td>
        <td><%= "#{time_ago_in_words(contact.created_at)} ago" %></td>
        <td><%= link_to "View", contact %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>